<h2>New Customer form</h2>
<form #customerForm="ngForm" (ngSubmit)="createCustomer(customerForm)">

  <label for="type">Type</label>
  <select name="type" required #typeOfCustomer="ngModel" ngModel placeholder="Please select" [(ngModel)]="newCustomer.type">
    <option [ngValue]="null">Please select</option>
    <option *ngFor="let item of types" >{{item}}</option>
  </select>
  <small *ngIf="typeOfCustomer.invalid">Please select a type</small>

  <label for="customerName">Engineer</label>
  <input type="text" #name="ngModel" ngModel
       required
       minlength="5"
       [(ngModel)]="newCustomer.name" name="customerName">
  <small *ngIf="name.invalid">Please fill customer name</small>

  <button type="submit" [disabled]="customerForm.invalid">Add Job</button>
</form>

<h2>Customer list</h2>

<table spacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers|async">
      <td>{{customer.name}}</td>
      <td>{{customer.type}}</td>
      <td>
        <a [routerLink]="['/customer', customer.customerId]">Open</a>
      </td>
    </tr>
  </tbody>
</table>

